.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffa;
}

.main-menu li {
  display: inline;
  position: relative;
}

.main-menu a {
 display: inline-block;
 padding: 10px 40px 10px 10px;
 border-left: 2px solid #aaf;
 text-decoration: none;
}

.submenu {
  display: none;
  background-color: #ff7;
  position: absolute;
  top: 28px;
  left: 2px;
  padding: 0;
  margin: 0;
  border: 2px solid #aaf;
}

.main-menu > li .submenu a {
  border: none;
}

.main-menu li:hover .submenu {
  display: block;
  width: 240px;
}

.main-menu li a:hover {
  background-color: black;
  color: white;
}
.main-menu li .submenu :hover {
  background-color: red;
  color: white;
}

/* форма заказа */

.delivery-form {
   background: #fff;
   padding: 20px;
   margin: 0px;
   border: 1px solid #44567e;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  .row {
   overflow: hidden;
   margin-bottom: 30px;
  }
  .delivery-form__label {
   color: blue;
   width: 150px;
   float: left;
   text-align: right;
   margin-right: 10px;
  }  
input, textarea {
   background: #ccc;
   border: none;
   color: black;
   padding: 5px;
   font-size: 14pt;
  }

 textarea {
   height: 50px;
 } 
/* кнопка заказ */
.switch {
  position: relative;
} 

.button {
  margin: 30px 0 0 160px;
  background: blue;
  border: none;
  color: white; 
  display: none;
}
.switch :checked~.button {
  display: block;
  padding: 10px 20px;
}
/* форма адреса курьером */ 


.adress-invisible {
  margin-top: 40px;
  display: none;
}

#courier:checked~.adress-invisible {
  display: block;
}

.nemiga {
  color: red;
  text-decoration: underline;
}

.map {
  display: none;
  margin-top: 40px;
  margin-left: 60px;
  ;
}

#nemiga-map[type="checkbox"] {
  display: none;
}

.switch-nemiga :checked~.map {
  display: block;
}

#nemiga-map:checked~.map {
  display: block;
}




main {
  margin-top: 70px;
}
footer {
  margin-top: 60px;
}






